body {
    text-align: center;
}
/* Styles for Modal */
.modal {
    position: absolute;
    height: 100%;
    width: 100%;
}

.modal_content {
    width: 380px;
    position: relative;
    top:20%;
    margin-left: auto;
    margin-right: auto;
    background: #fff2df;
    border-radius: 3px;
}

.modal_heading {
    display: flex;
    padding: 1rem;
    padding-bottom: 0;
    border-bottom:2px solid blueviolet ;
    justify-content: center;
}